Source: empcd
Section: net
Priority: optional
Maintainer: Jeroen Massar <jeroen@massar.ch>
Build-Depends: debhelper (>> 4.2)
Standards-Version: 3.6.2.1

Package: empcd
Architecture: any
Depends: ${shlibs:Depends}
Description: Event Music Player Client daemon
 Music Player Client (which daemonizes) and 
 can be controlled by /dev/input/eventX devices
 eg a USB keyboard.

